.Display {
    margin: auto 40px;
    display: inline;
    overflow: auto;
}

.Display2 {
    display: block;
    margin: 15px auto;
}

@media (max-width: 868px) {
    .Display {
        margin: 10px;
    }
}

@media (max-width: 643px) {
    .Display {
        margin: 5px;
    }
}

@media (max-width: 606px) {
    .Display {
        display: block;
    }
}