.StartDay input {
    margin: auto 8px;
}

.FormSubmit {
    background-color: #21212d;
    color: white;
    padding: 8px;
    font: inherit;
    font-weight: bold;
    border: transparent;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 17px auto 2px;
}