.Dashboard {
    padding: 10px;
    width: 80%;
    margin: 10px auto 20px;
    text-align: center;
    overflow: scroll;
    border-bottom: 1px solid black;
}

.Dashboard p {
    margin: auto 10px;
    display: inline;
}

@media (max-width: 767px) {
    .Dashboard p {
        margin: auto 5px;
    }
}

@media (max-width: 717px) {
    .Dashboard p {
        margin: auto 3px;
    }
}

@media (max-width: 696px) {
    .Dashboard p {
        display: block;
    }
}

